button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 20px;
}
li {
  font-size: 23px;
}

#pending-content, #done-content {
  display: none;
}

#pending-button.active, #done-button.active{
  color: blue;
  background-color: orange;
}

#pending-content.active, #done-content.active {
  display: block;
}

.fade-in01{ 
  font-size:40px;
  opacity:0;
  animation-name: sample01; /*←@keyframesにも同じ名前を記述*/
  animation-duration: 8s; 
  animation-fill-mode: forwards; 
}
@keyframes sample01 {  /*←animation-nameにも同じ名前を記述*/
0% {
  opacity: 0;
  color:#ffffff;
}
90% {
 opacity: 1;
 color:#ffffff;
}
 100% {
  opacity: 1;
  color:#ffffff;
} 
}

.sine {
    text-shadow: 2px 2px 10px #000000 ,
    -2px 2px 10px #000000 ,
    2px -2px 10px #000000 ,
    -2px -2px 10px #000000;
    }
  
are {
  /* 水平方向の中央揃え */
  text-align: center;
}

.sine1 {
  text-shadow: 2px 2px 10px #ff0000 ,
  -2px 2px 10px #ff0000 ,
  2px -2px 10px #ff0000 ,
  -2px -2px 10px #ff0000;
  }