body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
}

.text-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Cutive Mono", monospace;
  letter-spacing: 4px;
  font-size: 34px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

span {
  display: inline-block;
}

.reg-text {
  transform: translateY(100px);
  opacity: 0;
  transition: transform 3.3333333333s ease-out, opacity 5s ease;
}
.reg-text.loaded {
  opacity: 1;
  transform: translateY(0);
}

.letter {
  transition: transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), filter 5s ease, opacity 5s ease;
  opacity: 0;
  filter: blur(5px);
}
.letter:nth-of-type(2) {
  transform: translateY(-160px);
  transition-duration: 2.5s;
}
.letter:nth-of-type(3) {
  filter: blur(0);
  transform: translateY(-170px);
  transition-duration: 3.8461538462s;
}
.letter:nth-of-type(4) {
  transform: translateY(-200px);
  transition-duration: 3.3333333333s;
}
.letter:nth-of-type(5) {
  transform: translateY(-150px);
  transition-duration: 2.5s;
}
.letter:nth-of-type(6) {
  filter: blur(0);
  transform: translateY(-180px);
  transition-duration: 2.1739130435s;
}
.letter.loaded {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

body{
  animation: bgchange  7000s;/*変化の時間を変更したい場合は20sの部分を好きな時間に変更*/
}

  @keyframes bgchange{
    0%   {background:#000000;}/*変化させたい色*/
    0.1%   {background:#000000;}
    0.2%  {background:#ffffff;}/*変化させたい色*/
}

.fade-in0111{ 
  opacity:0;
  animation-name: sample011; /*←@keyframesにも同じ名前を記述*/
  animation-duration: 10s; 
  animation-fill-mode: forwards; 
}
@keyframes sample011 {  /*←animation-nameにも同じ名前を記述*/
0% {
  opacity: 0;
  color:#ffffff;
}
90% {
 opacity: 0;
 color:#ffffff;
}
 100% {
  opacity: 1;
  color:#ffffff;
} 
}

.font001{
    font-family: 'Noto Serif JP', serif;
}
